
cs1-book.idx

cs1-book.aux

cs1-book.dvi

cs1-book.log

cs1-book.pdf

cs1-book.out

cs1-book.toc

newProject.xpr

.idea

*~

*.pdf

src/primary-book/book.html

src/primary-book/out.xml

src/primary-book/tmp.fo
